doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->
        .wrap

            .parallax
                - for (var i = 1; i < 11; i++)
                    div(class= "parallax__layer parallax__layer--" + i)

            .main-header
                button.login-btn Авторизоваться

            .main-container
                .autor-card

                    .autor-card__front-side
                        .autor-card__about-autor
                            include common/_autor-info
                            .socials
                                .socials__icon.socials__icon--vk
                                .socials__icon.socials__icon--gh
                                .socials__icon.socials__icon--in

                        .person-card__menu.menu-person-card
                            ul.menu-person-card__list
                                li.menu-person-card__item
                                    a(href="#").menu-person-card__link Мои работы
                                li.menu-person-card__item
                                    a(href="#").menu-person-card__link Обо мне
                                li.menu-person-card__item
                                    a(href="#").menu-person-card__link Блог

                    .autor-card__back-side
                        form(method='get' action='#').login-form

                            h2.login-form__title Авторизуйтесь

                            .login-form__field-container
                                input(type='text' placeholder='Логин' required).login-form__login
                            .login-form__field-container.login-form__field-container--password
                                input(type='text' placeholder='Пароль' required).login-form__password

                            input(type='checkbox' id='captcha' required).login-form__captcha-checkbox
                            label(for='captcha').login-form__captcha-label.login-form__captcha-label--checkbox Я человек

                            h2.login-form__captcha-title Вы точно не робот?

                            .login-form__radio-container
                                input(type='radio' name='captcha-radio' id='captcha-radio-yes' required).login-form__captcha-radio
                                label(for='captcha-radio-yes').login-form__captcha-label.login-form__captcha-label--radio Да
                                input(type='radio' name='captcha-radio' id='captcha-radio-no' required).login-form__captcha-radio
                                label(for='captcha-radio-no').login-form__captcha-label.login-form__captcha-label--radio Не уверен

                        .person-card__menu.menu-person-card
                            ul.menu-person-card__list
                                li.menu-person-card__item
                                    a(href='#').menu-person-card__link На главную
                                li.menu-person-card__item
                                    input(type='submit' value='Войти').menu-person-card__link.menu-person-card__link--submit

            .main-footer
                .main-footer__copyrigth © Владимир Астахов
                .main-footer__desc создано с любовью в LoftSchool | 2017