// =================================
// Import paths
// =================================

@import 'common/vars';
@import 'common/fonts';
@import 'common/mixins';
@import 'pages/welcome';
@import 'pages/about';
@import 'pages/works';
@import 'pages/blog';

// =================================
// Base styles
// =================================

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

*, *::before, *::after {
  box-sizing: border-box;
}