.autor-info
    .autor-info__avatar-container
        img(src='assets/img/person-card-avatar-2.png' alt='Аватар').autor-info__avatar
    h1.autor-info__title Владимир Астахов
    p.autor-info__desc Личный сайт веб разработчика