// =================================
// Colors
// =================================

$main-color: #00bfa5;
$text-color: #455a64;

// =================================
// Timings
// =================================

$transition-fast: .4s;
$transition-medium: .6s;
$transition-slow: 1s;

// =================================
// Screens sizes
// =================================

$screen-small: 768px;

// =================================
// Font
// =================================

$base-font-size: 14px;